.drop1 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.drop18 h1 {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  font-family: poppins;
  cursor: pointer;
}

.drop18 {
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
  background-color: #ff6a49;
  width: 80%;
  cursor: pointer;
}
.drop17 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.drop18 p {
  margin-top: 3px;
  font-size: 10px;
  font-weight: 400;
  font-family: poppins;
  color: white;
}
.drop19 {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.drop20 {
  margin-top: 17px;
  margin-left: 10px;
  padding: 15px;
  display: flex;
}
.drop20 h1 {
  color: #8d8f8d;
  font-family: poppins;
  font-weight: 600;
  font-size: 14px;
}

.tabela_1,
.tabela2 {
  margin-top: 50px;
  background-color: #f2f2f2;
  padding: 15px;
  width: 85%;
  border-radius: 5px;
}
.tabela_1 table,
.tabela_2 table,
.tabela_3 table,
.tabela_4 table,
.tabela_5 table,
.tabela_6 table,
.tabela_7 table {
  margin-left: 30px;
}
.tabela2 table,
.tabela3 table,
.tabela4 table,
.tabela5 table,
.tabela6 table,
.tabela7 table,
.tabela8 table {
  margin-left: 30px;
}

.editp {
  padding-bottom: 3000px;
}
.ordem {
  order: -1;
}

.tabela_2 h1,
.tabela_3 h1,
.tabela_4 h1,
.tabela_5 h1,
.tabela_6 h1,
.tabela_7 h1 {
  font-family: poppins;
  font-size: 15px;
  color: white;
  margin-top: 40px;
  width: 95%;
  margin-left: 50px;
  font-weight: 600;
}

.tabela2 h1,
.tabela3 h1,
.tabela4 h1,
.tabela5 h1,
.tabela6 h1,
.tabela7 h1,
.tabela8 h1 {
  font-family: poppins;
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-top: 40px;
  width: 95%;
  margin-left: 50px;
}
.tabela_1 h1 {
  font-family: poppins;
  font-size: 15px;
  font-weight: 800;
  color: #333333;
  margin-top: 40px;
  width: 95%;
  margin-left: 50px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
td {
  padding: 20px;
  font-family: poppins;
  width: 45%;
  font-size: 12px;
  color: white;
}
#tabelaEditavel td,
#tabelaEditavel2 td,
#tabelaEditavel10 td,
#tabelaEditavel11 td,
#tabelaEditavel12 td,
#tabelaEditavel13 td,
#tabelaEditavel20 td,
#tabelaEditavel21 td,
#tabelaEditavel22 td,
#tabelaEditavel23 td {
  border: 1px solid black;
  color: black;
  font-weight: 600;
  text-align: center;
}
.none {
  display: none;
}
.sec {
  position: relative;
  top: 120px;
}
.pont-geral {
  background-color: white;
  height: 500px;
  margin-top: 40px;
  padding-bottom: 2500px;
}
.maintxtpt h1 {
  color: #3e4441;
  font-size: 20px;
  font-family: poppins;
  margin-left: 30px;
}
